@import "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100vh;
  max-width: 100vw;
  background-color: $the_white;
  color: $dark_grey;
}

nav {
  height: auto;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Tangerine", cursive;
    font-weight: bold;
    font-size: 50px;
  }

  ul {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      padding: 1rem 2rem;
      border-radius: 25px;

      a {
        text-decoration: none;
        color: black;
      }

      &:hover {
        border-radius: 5px;
        background-color: $light_grey;
        cursor: pointer;
      }
    }
  }
}

main {
  background-color: $darker_grey;
  height: 500px;
  color: $light_red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .mainContainer {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3rem;
    }

    span {
      position: relative;
      margin-top: 50px;

      a {
        text-decoration: none;
        color: $light_grey;
        border: 1px solid $light_grey;
        padding: 1rem 2rem;

        &::before {
          content: "";
          position: absolute;
          top: -1rem;
          left: 0;
          background-color: rgba(255, 255, 255, 0.3);
          width: 100%;
          height: 52px;
          clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%);
          transition: clip-path 0.35s cubic-bezier(0.39, 0.8, 0.05, 1.84);
        }

        &:hover {
          color: $the_white;
          border-color: $the_white;

          &::before {
            clip-path: polygon(0 0, 75% 0%, 41% 100%, 0% 100%);
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

section {
  margin-top: 20px;
}

#Whoami {
  padding: 2rem;
  text-align: center;
  p {
    margin-top: 25px;
  }
}
